@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.background{
  background: url("./pozadina.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fa{
  font-size : 3rem;
  color:saddlebrown;   
}

.fa-search{
  font-size : 3.5rem;
  }